doctype html
html(lang="es")
  include ./partials/head.pug
  body
    .container
      include ./partials/header.pug
      .content
        div(style="display: flex; justify-content: center; align-items: center; flex-direction: column;")
          - const iconsInfo = typeof socialMediaIcons === 'string' ? JSON.parse(socialMediaIcons) : socialMediaIcons
        div(style="text-align: center; margin-bottom: 5px;")
          img(src=(iconsInfo.check || iconsInfo.error || iconsInfo.warning || '') alt="Error" height="70vh" style="margin: 0 auto 7px auto; display: block;")
        p(style="font-size: 15px; margin-bottom: 25px; color: #1A1431; text-align: center;") ¡Recarga de tarjeta realizada con éxito!

        p 
          small Estimado/a #{vars.name},
        p 
          small Nos complace informarte que tu recarga de tarjeta se ha realizado exitosamente. A continuación, te proporcionamos los detalles de la transacción:

        p 
          small
            strong Detalles de la transferencia:

        .icon-info
          img(src=iconsInfo.currency alt="Moneda" height="25vh")
          div 
            small.small-title Moneda
            br
            small #{vars.currency}
        .icon-info
          img(src=iconsInfo.currency alt="Monto Recargado" height="25vh")
          div 
            small.small-title Monto Recargado
            br
            small #{vars.amountReload}
        .icon-info
          img(src=iconsInfo.date alt="Fecha y Hora" height="25vh")
          div 
            small.small-title Fecha y Hora
            br
            small 14 de Julio del 2024, 17:55h
        .icon-info
          img(src=iconsInfo.tether alt="Nuevo Saldo" height="25vh")
          div 
            small.small-title Nuevo Saldo de la Tarjeta
            br
            small $5.200,00 USDT

        p 
          small
            strong Verifica tu Saldo y Transacciones:
        p
          small Puedes verificar tu saldo actualizado y revisar el historial completo de tus transacciones en cualquier momento a través de tu cuenta. Haz click en el siguiente botón para acceder.

        

        p
          small Agradecemos tu confianza en nuestro servicio de recarga de tarjetas. Estamos comprometidos en ofrecerte una experiencia segura y conveniente para gestionar tus finanzas.

