doctype html
html(lang="es")
  include ./partials/head.pug
  body
    .container
      include ./partials/header.pug
      .content
        h2 Nuevo Wallet Creado
        p Hola #{vars.name},
        p Se ha creado un nuevo wallet en tu cuenta. Aquí están los detalles:
        
        ul
          li
            strong Tipo de Cuenta: 
            | #{vars.accountType}
          li
            strong Nombre de la Cuenta: 
            | #{vars.accountName}
          li
            strong ID de la Cuenta: 
            | #{vars.accountId}
          li
            strong Saldo Inicial: 
            | #{vars.balance} #{vars.currency}

        p Puedes acceder a tu nuevo wallet a través de nuestra plataforma. Si no reconoces esta actividad, por favor contáctanos inmediatamente.

        p Gracias por usar nuestros servicios.

      include ./partials/footer.pug
