- const iconsInfo = typeof icons === 'string' ? JSON.parse(icons) : icons
- const iconsMails = typeof iconsEmail === 'string' ? JSON.parse(iconsEmail) : iconsEmail

doctype html
html(lang="es")
  include ./partials/head.pug
  body
    .container
      include ./partials/header.pug
      .content
        div(style="display: flex; justify-content: center; align-items: center; flex-direction: column;")
          p.title(style="margin-block-end: 0.5em; margin-block-start: 0.5em;") Informaci贸n de tu dep贸sito
        p 
          small Estimado/a #{vars.name},
        p 
          small Te informamos que tu dep贸sito se ha realizado exitosamente. A continuaci贸n, encontrar谩s los detalles de la transacci贸n:

        p 
          small
            strong Detalles del dep贸sito:

        .transaction-info(style="display: flex; margin-bottom: 22px;")
          div(style="display: flex; align-items: center; width: 30px;")
            img(src=iconsMails.currency alt=iconsMails.currency height="25vh")
          div(style="display: flex; align-items: center;")
            strong(style="margin-right: 8px; color: #000;") Moneda
            span(style="color: #000;") #{vars.currency}
        
        .transaction-info(style="display: flex; margin-bottom: 22px;")
          div(style="display: flex; align-items: center; width: 30px;")
            img(src=iconsMails.withdraw alt=iconsMails.withdraw height="25vh")
          div(style="display: flex; align-items: center;")
            strong(style="margin-right: 8px; color: #000;") Saldo Depositado
            span(style="color: #000;") #{vars.amountReload}
        
        .transaction-info(style="display: flex; margin-bottom: 22px;")
          div(style="display: flex; align-items: center; width: 30px;")
            span(style="font-size: 1.3em;") 
          div(style="display: flex; align-items: center;")
            strong(style="margin-right: 8px; color: #000;") Fecha y Hora
            span(style="color: #000;") #{vars.transactionDate || ''}#{vars.transactionDate && vars.transactionTime ? ', ' : ''}#{vars.transactionTime || ''}
        
        .transaction-info(style="display: flex; margin-bottom: 22px;")
          div(style="display: flex; align-items: center; width: 30px;")
            span(style="font-size: 1.3em;") 
          div(style="display: flex; align-items: center;")
            strong(style="margin-right: 8px; color: #000;") Hash de la Transacci贸n
            span(style="color: #000;") #{vars.hash || vars.transactionHash || ''}
