doctype html
html(lang="es")
  include ./partials/head.pug
  body
    .container
      include ./partials/header.pug
      .content
        div(style="display: flex; justify-content: center; align-items: center; flex-direction: column;")
        
          p.title(style="margin-block-end: 0.5em; margin-block-start: 0.5em;") Su transacci贸n no ha podido completarse
        p 
          small #{vars.name || 'Estimado cliente'}, su operaci贸n no ha podido ser procesada
        p 
          small Queremos informarle que su intento de pago realizado el #{vars.transactionDate || 'N/A'} a las #{vars.transactionTime || 'N/A'} en #{vars.merchant || 'N/A'} no pudo ser completado. A continuaci贸n encontrar谩 los detalles de esta operaci贸n:

        p 
          small
            strong Informaci贸n de la Transacci贸n:

        .transaction-info(style="margin-bottom: 10px;")
          span(style="font-size: 1.5em; margin-right: 10px;") 
          small.small-title Fecha y Hora: 
          small #{vars.transactionDate || 'N/A'}, #{vars.transactionTime || 'N/A'}
        
        .transaction-info(style="margin-bottom: 10px;")
          span(style="font-size: 1.5em; margin-right: 10px;") 
          small.small-title Comercio: 
          small #{vars.merchant || 'N/A'}
        
        .transaction-info(style="margin-bottom: 10px;")
          span(style="font-size: 1.5em; margin-right: 10px;") 
          small.small-title Moneda: 
          small #{vars.currency || 'N/A'}
        
        .transaction-info(style="margin-bottom: 10px;")
          span(style="font-size: 1.5em; margin-right: 10px;") 
          small.small-title Importe: 
          small #{vars.amountReload || 'N/A'}
        
        .transaction-info(style="margin-bottom: 10px;")
          span(style="font-size: 1.5em; margin-right: 10px;") 
          small.small-title M茅todo de Pago: 
          small xxxx xxxx #{vars.lastFourDigits || 'N/A'}

        div(style="padding: 1em 0em;")
          hr

        p
          small Recomendaciones para evitar futuros inconvenientes:

        ul 
          li
            small Verifique el saldo disponible antes de realizar operaciones.
          li
            small Aseg煤rese de que su informaci贸n de pago est茅 actualizada.
          li
            small Confirme que los datos de la transacci贸n sean correctos.
          li
            small Recuerde que para garantizar la estabilidad de operaciones, establecemos un l铆mite de gasto del 90% sobre sus fondos disponibles.

        p
          small Si necesita asistencia adicional, nuestro equipo de soporte est谩 disponible para ayudarle.
        p
          small Lamentamos los inconvenientes ocasionados y trabajamos para mejorar su experiencia en futuras transacciones.

      include ./partials/footer.pug