- const iconsInfo = typeof icons === 'string' ? JSON.parse(icons) : icons
- const iconsMails = typeof iconsEmail === 'string' ? JSON.parse(iconsEmail) : iconsEmail

doctype html
html(lang="es")
  include ../partials/head.pug
  body
    .container
      include ../partials/header.pug
      .content
        div(style="display: flex; justify-content: center; align-items: center; flex-direction: column;")
          img(src=iconsInfo.info alt=iconsInfo.info)
          p.title(style="margin-block-end: 0.5em; margin-block-start: 0.5em;") Confirmación de cambio de contraseña 
        p
          small Estimado/a #{vars.name},
        p
          small Nos complace informarte que tu contraseña ha sido modificada exitosamente. A continuación, te proporcionamos los detalles de esta actualización:

        p 
          small
            strong Detalles del Cambio de Contraseña:

        .icon-info
          img(src=iconsMails.date alt=iconsMails.date height="25vh")
          div 
            small.small-title Fecha y Hora
            br
            small 14 de Julio del 2024, 17:55h

        p 
          small
            strong Importante:

        p 
          small Por razones de seguridad, no incluimos tu nueva contraseña en este correo. Si no fuiste tú quien solicitó este cambio, por favor contacta a nuestro equipo de soporte de inmediato.

        div(style="padding: 1em 0em;")
          hr

        p 
          small
            strong B2tips

        p 
          small Para mejorar la seguridad de tu cuenta, te recomendamos habilitar la autenticación de dos factores (2FA) si aún no lo has hecho. Esta función añade una capa adicional de protección a tu cuenta, requiriendo un código adicional además de tu contraseña para acceder.

      include ../partials/footer.pug