doctype html
html(lang="es")
  include ./partials/head.pug
  body
    .container
      .header
        img(src=logoUrl alt="Logo" style="width: 90px; height: auto; display: inline-block; vertical-align: middle;")
      .content
        h2 Bienvenido a nuestra plataforma
        p Hola #{vars.name},
        p Tu cuenta ha sido creada exitosamente. A continuación, te proporcionamos los detalles de tu cuenta:
        
        ul
          li
            strong Nombre de usuario: 
            | #{vars.username}
          li
            strong Correo electrónico: 
            | #{vars.email}
          li
            strong Tipo de cuenta: 
            | #{vars.accountType}
          li
            strong Estado de la cuenta: 
            | #{vars.accountStatus}
        
        p Para comenzar a usar tu cuenta, por favor sigue estos pasos:
        
        ol
          li Inicia sesión con tu correo electrónico y contraseña.
          li Completa tu perfil con toda la información necesaria.
          li Explora las funcionalidades de nuestra plataforma.
        
        //- p Si tienes alguna pregunta o necesitas asistencia, no dudes en contactar a nuestro equipo de soporte.
        
        //- a.button(href="#") Enlace de verificación
        
        p ¡Gracias por unirte a nosotros!
      
      .footer
        p © 2024 B2fintech. Todos los derechos reservados.
