doctype html
html(lang="es")
  include ./partials/head.pug
  body
    .container
      include ./partials/header.pug
      .content
        h2 隆Compra aprobada exitosamente! コ
        p #{vars.customerName}, 隆tu compra ha sido aprobada exitosamente!

        p Nos complace informarte que tu compra realizada el d铆a #{vars.purchaseDate} a las #{vars.purchaseTime} en #{vars.merchantName} ha sido aprobada con 茅xito. A continuaci贸n, te compartimos los detalles de tu transacci贸n:

        h3 Detalles de la Compra:
        ul
          li
            strong Fecha y hora:
            | #{vars.purchaseDate} #{vars.purchaseTime}
          li
            strong Establecimiento:
            | #{vars.merchantName}
          li
            strong Monto:
            | #{vars.amount}
          li
            strong M茅todo de Pago:
            | XXXX XXXX XXXX #{vars.cardLastFour}
          li
            strong Productos/Servicios adquiridos:
            | #{vars.productName}

        p Para ver tu transacci贸n de compra en detalle, por favor haz clic en el siguiente enlace:
        a.btn(href="#{vars.transactionLink}" target="_blank") Ver transacci贸n

        p Gracias por utilizar nuestros servicios para realizar tu compra.

      include ./partials/footer.pug
