doctype html
html(lang="es")
  include ./partials/head.pug
  body
    .container
      include ./partials/header.pug
      .content
        h2= vars.title 

        p Estimada #{vars.customerName}, 

        p= vars.introMessage

        h3 Detalles de la Transacci贸n:
        ul
          li
            strong Fecha y hora: 
            | #{vars.transactionDate}
          li
            strong Establecimiento: 
            | #{vars.merchantName}
          li
            strong Monto: 
            | #{vars.amountLocal} #{vars.currencyLocal}
          li
            strong M茅todo de pago: 
            | #{vars.cardLastFour}

        if vars.transactionStatus == 'REJECTED'
          h3 Motivo del Rechazo:
          p #{vars.reason}

          p Lamentamos informarte que tu intento de compra realizado el #{vars.transactionDate} en #{vars.merchantName} no pudo ser procesado. A continuaci贸n, te proporcionamos m谩s detalles sobre esta situaci贸n:

          h3 Pr贸ximos Pasos:
          ul
            li Verificar el saldo de tu cuenta: Aseg煤rate de que cuentas con los fondos suficientes antes de realizar una compra.
            li Actualizar la informaci贸n de tu tarjeta: Si has cambiado de tarjeta o tu informaci贸n ha caducado, actualiza los datos en tus m茅todos de pago.
            li Revisar la informaci贸n de la transacci贸n: Aseg煤rate de que los detalles de la compra y el establecimiento sean correctos.

          p Si deseas m谩s informaci贸n o tienes alguna pregunta, no dudes en contactarnos a trav茅s de asistencia@b2fintech.com.
          p Ofrecemos disculpas por cualquier inconveniente causado por esta situaci贸n y estamos aqu铆 para asistirte en lo que necesites. Tu satisfacci贸n es nuestra prioridad.

        if vars.transactionStatus == 'APPROVED'
          h3 隆Compra aprobada exitosamente! 
          p #{vars.customerName}, 隆tu compra ha sido aprobada exitosamente! 
          p Nos complace informarte que tu compra realizada el #{vars.transactionDate} en #{vars.merchantName} ha sido aprobada con 茅xito.

          p Gracias por utilizar nuestros servicios para realizar tu compra.
          p Si tienes alguna pregunta o necesitas asistencia, no dudes en contactarnos a trav茅s de asistencia@b2fintech.com.
          p Gracias por unirte a nosotros. 隆Esperamos que disfrutes de tu experiencia con B2fintech!

      include ./partials/footer.pug
