doctype html
html(lang="es")
  include ./partials/head.pug
  body
    .container
      include ./partials/header.pug
      .content
        div(style="display: flex; justify-content: center; align-items: center; flex-direction: column;")
          img(src=iconsInfo.error alt=iconsInfo.error)
          p.title(style="margin-block-end: 0.5em; margin-block-start: 0.5em;") Su transacción no ha podido completarse
        p 
          small #{vars.name}, su operación no ha podido ser procesada
        p 
          small Queremos informarle que su intento de pago realizado el #{vars.transactionDate} a las #{vars.transactionTime} en #{vars.merchant} no pudo ser completado. A continuación encontrará los detalles de esta operación:

        p 
          small
            strong Información de la Transacción:

        .icon-info
          img(src=iconsMails.date alt=iconsMails.date height="25vh")
          div 
            small.small-title Fecha y Hora
            br
            small #{vars.transactionDate}, #{vars.transactionTime}
        .icon-info
          img(src=iconsMails.location alt=iconsMails.location height="25vh")
          div 
            small.small-title Comercio
            br
            small #{vars.merchant}
        .icon-info
          img(src=iconsMails.currency alt=iconsMails.currency height="25vh")
          div 
            small.small-title Moneda
            br
            small #{vars.currency}
        .icon-info
          img(src=iconsMails.amount alt=iconsMails.amount height="25vh")
          div 
            small.small-title Importe
            br
            small #{vars.amountReload}
        .icon-info
          img(src=iconsMails.paymentMethod alt=iconsMails.paymentMethod height="25vh")
          div 
            small.small-title Método de Pago
            br
            small xxxx xxxx #{vars.lastFourDigits}

        div(style="padding: 1em 0em;")
          hr

        p
          small Recomendaciones para evitar futuros inconvenientes:

        ul 
          li
            small Verifique el saldo disponible antes de realizar operaciones.
          li
            small Asegúrese de que su información de pago esté actualizada.
          li
            small Confirme que los datos de la transacción sean correctos.
          li
            small Recuerde que para garantizar la estabilidad de operaciones, establecemos un límite de gasto del 90% sobre sus fondos disponibles.

        p
          small Si necesita asistencia adicional, nuestro equipo de soporte está disponible para ayudarle.
        p
          small Lamentamos los inconvenientes ocasionados y trabajamos para mejorar su experiencia en futuras transacciones.

      include ./partials/footer.pug