- const iconsInfo = typeof icons === 'string' ? JSON.parse(icons) : icons
- const iconsMails = typeof iconsEmail === 'string' ? JSON.parse(iconsEmail) : iconsEmail

doctype html
html(lang="es")
  include ../partials/head.pug
  body
    .container
      include ../partials/header.pug
      .content
        div(style="display: flex; justify-content: center; align-items: center; flex-direction: column;")
          img(src=iconsInfo.success alt=iconsInfo.success)
          p.title(style="margin-block-end: 0.5em; margin-block-start: 0.5em;") ¡Compra aprobada exitosamente! 📦
        p 
          small #{vars.name}, ¡Tu compra ha sido aprobada exitosamente! 
        p 
          small Nos complace informarte que tu compra realizada el dia 15 de Julio del 2024  a las 14:23 h en Blank Street Coffee ha sido aprobada con éxito. A continuación, te compartimos los detalles de tu transacción:

        p 
          small
            strong Detalles de la Compra:

        .icon-info
          img(src=iconsMails.date alt=iconsMails.date height="25vh")
          div 
            small.small-title Fecha y Hora
            br
            small 14 de Julio del 2024, 17:55h
        .icon-info
          img(src=iconsMails.location alt=iconsMails.location height="25vh")
          div 
            small.small-title Establecimiento
            br
            small Blank Street Coffee
        .icon-info
          img(src=iconsMails.currency alt=iconsMails.currency height="25vh")
          div 
            small.small-title Moneda
            br
            small #{vars.currency}
        .icon-info
          img(src=iconsMails.amount alt=iconsMails.amount height="25vh")
          div 
            small.small-title Monto
            br
            small #{vars.amountReload}
        .icon-info
          img(src=iconsMails.paymentMethod alt=iconsMails.paymentMethod height="25vh")
          div 
            small.small-title Método de Pago Utilizado
            br
            small xxxx xxxx 9898

        p
          small Para ver los detalles de tu compra, por favor haz click en el siguiente boton.

        div(style="display: flex; justify-content: center; align-items: center; gap: 0.5em;")
          a.button(href="#" target="_blank" rel="noopener noreferrer") Ver transacción

        p
          small Gracias por utilizar nuestros servicios para realizar tu compra.

      include ../partials/footer.pug