- const iconsInfo = typeof icons === 'string' ? JSON.parse(icons) : icons
- const iconsMails = typeof iconsEmail === 'string' ? JSON.parse(iconsEmail) : iconsEmail

doctype html
html(lang="es")
  include ../partials/head.pug
  body
    .container
      include ../partials/header.pug
      .content
        div(style="display: flex; justify-content: center; align-items: center; flex-direction: column;")
          img(src=iconsInfo.info alt=iconsInfo.info)
          p.title(style="margin-block-end: 0.5em; margin-block-start: 0.5em;") Información de tu retiro
        p 
          small Estimado/a #{vars.name},
        p 
          small Nos complace informarte que hemos recibido tu solicitud de retiro de criptomonedas. A continuación, te proporcionamos los detalles de tu transacción:

        p 
          small
            strong Detalles del retiro:

        .icon-info
          img(src=iconsMails.currency alt=iconsMails.currency height="25vh")
          div 
            small.small-title Moneda
            br
            small #{vars.currency}
        .icon-info
          img(src=iconsMails.withdraw alt=iconsMails.withdraw height="25vh")

          div 
            small.small-title Saldo Retirado
            br
            small #{vars.amountReload}
        .icon-info
          img(src=iconsMails.date alt=iconsMails.date height="25vh")
          div 
            small.small-title Fecha y Hora
            br
            small 14 de Julio del 2024, 17:55h
        .icon-info
          img(src=iconsMails.location alt=iconsMails.location height="25vh")
          div 
            small.small-title Dirección de destino
            br
            small 98NHF0NDR48
        .icon-info
          img(src=iconsMails.hash alt=iconsMails.hash height="25vh")
          div 
            small.small-title Estado de Retiro
            br
            small En proceso

        p 
          small
            strong Estado del retiro:
        p
          small Si el estado es "Pendiente" o "En Proceso", significa que estamos procesando tu solicitud. Recibirás una notificación adicional una vez que se complete este proceso.

      include ../partials/footer.pug