- const iconsInfo = typeof icons === 'string' ? JSON.parse(icons) : icons
- const iconsMails = typeof iconsEmail === 'string' ? JSON.parse(iconsEmail) : iconsEmail

doctype html
html(lang="es")
  include ./partials/head.pug
  body
    .container
      include ./partials/header.pug
      .content
        div(style="display: flex; justify-content: center; align-items: center; flex-direction: column;")
          p.title(style="margin-block-end: 0.5em; margin-block-start: 0.5em;") Informaci贸n de tu retiro
        p 
          small Estimado/a #{vars.name},
        p 
          small Nos complace informarte que hemos recibido tu solicitud de retiro de criptomonedas. A continuaci贸n, te proporcionamos los detalles de tu transacci贸n:

        p 
          small
            strong Detalles del retiro:

        //- Formato con alineaci贸n horizontal mejorada
        .transaction-info(style="display: flex; margin-bottom: 22px;")
          div(style="display: flex; align-items: center; width: 30px;")
            span(style="font-size: 1.3em;") 
          div(style="display: flex; align-items: center;")
            strong(style="margin-right: 8px; color: #000;") Moneda
            span(style="color: #000;") #{vars.currency}
        
        .transaction-info(style="display: flex; margin-bottom: 22px;")
          div(style="display: flex; align-items: center; width: 30px;")
            span(style="font-size: 1.3em;") 
          div(style="display: flex; align-items: center;")
            strong(style="margin-right: 8px; color: #000;") Saldo Retirado
            span(style="color: #000;") #{vars.amountReload}
        
        .transaction-info(style="display: flex; margin-bottom: 22px;")
          div(style="display: flex; align-items: center; width: 30px;")
            span(style="font-size: 1.3em;") 
          div(style="display: flex; align-items: center;")
            strong(style="margin-right: 8px; color: #000;") Fecha y Hora
            span(style="color: #000;") #{vars.transactionDate || ''}#{vars.transactionDate && vars.transactionTime ? ', ' : ''}#{vars.transactionTime || ''}
        
        .transaction-info(style="display: flex; margin-bottom: 22px;")
          div(style="display: flex; align-items: center; width: 30px;")
            span(style="font-size: 1.3em;") 
          div(style="display: flex; align-items: center;")
            strong(style="margin-right: 8px; color: #000;") Direcci贸n de destino
            span(style="color: #000;") #{vars.destinationAddress || vars.address || ''}
        
        .transaction-info(style="display: flex; margin-bottom: 22px;")
          div(style="display: flex; align-items: center; width: 30px;")
            span(style="font-size: 1.3em;") 
          div(style="display: flex; align-items: center;")
            strong(style="margin-right: 8px; color: #000;") Estado de Retiro
            span(style="color: #000;") #{vars.status || 'En proceso'}

        p 
          small
            strong Estado del retiro:
        p
          small Si el estado es "Pendiente" o "En Proceso", significa que estamos procesando tu solicitud. Recibir谩s una notificaci贸n adicional una vez que se complete este proceso.

      